@import "tailwindcss";

@source "../../../shared/**/*{.js,.jsx,.tsx}";

@import "../../../shared/styles/utilities.css";
@import "../../../shared/styles/theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  @import "../../../shared/styles/base.css";
}
